ENPOINT_PORT=example

/databases
DB_NAME=example
DB_USER=example
DB_PASS=example
DB_HOST=example
DB=example

// authentication
ACCESS_TOKEN_SECRET=example
REFRESH_TOKEN_SECRET=example
EXPIRE_ACCESS_TOKEN_SECRET=example
EXPIRE_REFRESH_TOKEN_SECRET=example
EXPIRE_REFRESH_TOKEN=example

BUCKET_NAME=example

USER_OTP_OWNER=example
PASS_OTP_OWNER=example
PORT_SEND_OTP=example
HOST_SEND_OTP=example
FROM_SEND_OTP=example

NODE_ENV=example
DATABASE_URL=example

CLOUD_NAME=example
CLOUD_KEY=example
CLOUD_SECRET=example